@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: .2s linear;
  text-decoration: none;
  outline: none;
  border: none;
}

.container {
  margin-top: 30px;
  overflow: visible; /* Mostrar el contenido fuera del contenedor */
  margin-left: 150px;
  position: relative;
}

.row {
  display: flex;
  align-items: center;
}

.submenu {
  position: relative;
  list-style: none;
}

#img-carrito {
  width: 40px;
  height: 40px;
}

#carrito {
    position: absolute;
    top: 60px;
    right: -20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: block; /* Cambiar "display: none;" a "display: block;" */
    z-index: 999;
    max-height: 400px;
    overflow-y: auto;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

  }


#carrito section {
  margin-bottom: 20px;
}

#carrito h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

#carrito p {
  margin-bottom: 5px;
}

#vaciar-carrito {
  display: block;
  padding: 10px 20px;
  background-color: #162938;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
    position: absolute;
    top: 8px;
    right: 100px;
}
#vaciar-carritoo {
    display: block;
    padding: 10px 20px;
    background-color: #162938;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    top: 10px;
    right: 10px;
    width: 30%;
  }

#vaciar-carrito:hover {
  background-color: #ffd80a;
}
#vaciar-carritoo:hover {
    background-color: #ffd80a;
  }
