@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    z-index: 99;
    line-height: 2;
}
header .logo{
    width: 90px;
}
header .logo img{
    width: 100%;
    border-radius: 25px;

}
header .icons{
    display: flex;
    align-items: center;
    padding-right: 40px;
}
header .icons a{
    font-size: 22px;
    margin-left: 20px;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #162938;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
a{
    color: #162938;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    height: 3px;
    background: #162938;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
}
.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: right;
}