
.banner{
    width: 100%;
    height: 75vh;
    background-image: url(../imagenes_principal/right_banner.webp);
    background-position: right center;

    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 150px;
}
.banner .bannertxt {
    width: 36%;
    height: 30%;
    position: absolute;
    top: -42%;
    left: 3%;
    bottom: -15px;
    margin: auto;
    margin-left: 20px; /* Agrega un margen izquierdo deseado */
    text-align: left; /* Alinea el texto a la izquierda */
  }
.readonly-input {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    /* Otros estilos personalizados que desees agregar */
  }
  .btn{
    width: 30%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;

}