@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../imagenes_principal/background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
}
.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: right;
}

#perrosadop{
    padding-top: 15px;
    padding-bottom: 40px;
}
.heading{
    text-align: center;
}
.heading h3{
    font-size: 27px;
    margin-bottom: 13px;
    color: #162938;
}
.paw{
    text-align: center;
    position: relative;
    display: block;
    width: 20%;
    margin: auto;
    font-size: 19px;
}
.paw ::before{
    content: '';
    width: 100px;
    height: 1px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.paw ::after{
    content: '';
    width: 100px;
    height: 1px;
    background-color: #000;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.pet_list img{
    width: 40%;
    border-radius: 50%;
}