@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    z-index: 99;
    line-height: 2;
}
header .logo{
    width: 90px;
}
header .logo img{
    width: 100%;
    border-radius: 25px;

}
header .icons{
    display: flex;
    align-items: center;
    padding-right: 40px;
}
header .icons a{
    font-size: 22px;
    margin-left: 20px;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #162938;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
a{
    color: #162938;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    height: 3px;
    background: #162938;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
}
.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: right;
}

.logo{
    font-size: 2em;
    color: #162938;
    user-select: none;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #162938;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    height: 3px;
    background: #162938;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
}
.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: right;
}

#perrosadop{
    padding-top: 15px;
    padding-bottom: 40px;
}
.heading{
    text-align: center;
}
.heading h3{
    font-size: 27px;
    margin-bottom: 13px;
    color: #162938;
}
.paw{
    text-align: center;
    position: relative;
    display: block;
    width: 20%;
    margin: auto;
    font-size: 19px;
}
.paw ::before{
    content: '';
    width: 100px;
    height: 1px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.paw ::after{
    content: '';
    width: 100px;
    height: 1px;
    background-color: #000;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.pet_list img{
    width: 40%;
    border-radius: 50%;
}

.perros .pet_list{
    display:flex ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 50px;
    
}
.perros .pet_list .pet1{
    width: 20%;
    text-align: center;
    flex-basis: 25%;
    
}
.pet1 .img{
    width: 100%;
    position: relative;
    padding: 45px;
}
.pet1 .img img{
    width: 70%;
    z-index: 9;
    cursor: pointer;
    transition: 0.5s;
}
.pet1 .img svg{
    position: absolute;
    top: -15px;
    left: -20px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 115%;
    z-index: -9;
}
.pet1 h4{
    cursor: pointer;
    transition: 0.5s;
}
.pet1 h4:hover{
    color:#ffd80a
}
.pet1 .img img:hover{
    scale: 1.1;
}